@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 main-text">Bently Nevada</h1>
    <p class="sub-text">Certificate Management Program.</p>
</div>
<div class="row">
    <div class="text-center column">
        <img src="https://www.bakerhughes.com/sites/bakerhughes/files/styles/small_2_1_768x380_/public/2019-11/18116_2462_bently-nevada-celebrates-over-60-years-innovation_1140x475.jpg?h=3fbbbcb6&itok=Kn8dsLAN" alt="Bently Nevada Building">
    </div>
    <div class="text-center column vertical-align-text sub-text">
        <p>Login to manage or update device certificates!</p>
        <form action="/Identity/Account/Login">
            <button class="btn btn-primary" alt="Login Button">Login</button>
        </form>
    </div>
</div>
