@model Device_UI.Models.Device

@{
    ViewData["Title"] = "Edit";
}

<h1>Renew Device</h1>
<h4>Please Upload the Certificate (First Entry) and its key (Second Entry).</h4>
<div class="row gray-div" style="padding: 20px">
    <div class="col-md-4 light-gray-text">
        <form action="" method="post" enctype="multipart/form-data" script=" ">
            <input type="file" name="files" id="file1" style="padding-bottom:30px"/>
            <input type="file" name="files" id="file2" style="padding-bottom:30px" />
            <input type="submit" class="btn btn-blue" />
        </form>
        <form asp-action="Query" style="padding-top:250px">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Upload Certificate Data" class="btn btn-blue white-text" /> |
            <button asp-action="Index" class="btn btn-primary white-text" alt="Back to Manage User List Button">Back to List</button>
        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@* Code edited by Thaddaeus Lam *@
