@*This code was modified by Caleb Stickler*@
@model Global_Management_UI.Models.ManageUser

<html>
<body>
<script type="text/javascript">
    $(function () {
        alert("Error: Attempted to demote the only current admin account")
    });
</script>
</body> 
</html>
